@use '@angular/material' as mat;

@include mat.core();

$recipe-adjuster-primary: mat.m2-define-palette(mat.$m2-blue-palette, 700);
$recipe-adjuster-accent: mat.m2-define-palette(mat.$m2-orange-palette, A200);
$recipe-adjuster-warn: mat.m2-define-palette(mat.$m2-red-palette);

$recipe-adjuster-theme: mat.m2-define-light-theme((
  color: (
    primary: $recipe-adjuster-primary,
    accent: $recipe-adjuster-accent,
    warn: $recipe-adjuster-warn,
  ),
  typography: mat.m2-define-typography-config(
    $font-family: 'Roboto, "Helvetica Neue", sans-serif',
  ),
  density: 0,
));

@include mat.all-component-themes($recipe-adjuster-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
