server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config,file:./config-repo
        encrypt:
          enabled: true
  profiles:
    active: native

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh

encrypt:
  key: ${ENCRYPT_KEY:change-this-to-a-secure-256-bit-key-in-production}
