/* You can add global styles to this file, and also import other style files */
@use './styles/theme.scss';

/* Ensure Material Icons render properly */
.material-icons {
  font-family: 'Material Icons' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
}

/* Fix mat-icon display */
mat-icon {
  font-family: 'Material Icons' !important;
  vertical-align: middle;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
}

/* Ensure Material Icons class is applied */
mat-icon:not(.mat-icon-no-color) {
  color: inherit;
}

/* Ensure form field prefixes don't overflow */
.mat-mdc-form-field-icon-prefix,
.mat-mdc-form-field-icon-suffix {
  display: flex;
  align-items: center;
}
